<component name="libraryTable">
  <library name="mybatis.caches.redis" type="repository">
    <properties maven-id="org.mybatis.caches:mybatis-redis:1.0.0-beta2" />
    <CLASSES>
      <root url="jar://$MAVEN_REPOSITORY$/org/mybatis/caches/mybatis-redis/1.0.0-beta2/mybatis-redis-1.0.0-beta2.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/redis/clients/jedis/2.8.0/jedis-2.8.0.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/apache/commons/commons-pool2/2.3/commons-pool2-2.3.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>